@import 'position'
@import 'colors'
@import 'responsive'


/////////////////////////////////////////////////////////
//			                Base                       //
/////////////////////////////////////////////////////////
	
a
	color link_color

body
	background-color background_color


/////////////////////////////////////////////////////////
//			              Buttons                      //
/////////////////////////////////////////////////////////

button[data-button="push"]
	background-color btn_bg
	border-top 1px solid btn_top_bdr
	border-left 3px solid btn_lft_bdr
	border-bottom 5px solid btn_btm_bdr
	border-right 3px solid btn_rig_bdr
	border-radius 5px
	color btn_text_clr
	font-size 1.2em
	font-weight bold
	makeItMove(0.1s)

	&:hover
		background-color btn_bg_hover
		border-top 1px solid btn_top_bdr
		border-left 3px solid btn_lft_bdr
		border-bottom 5px solid btn_btm_bdr
		border-right 3px solid btn_rig_bdr

	&:active
		background-color btn_bg_hover
		border-top 5px solid btn_top_bdr_prs
		border-left 5px solid btn_lft_bdr_prs
		border-bottom 1px solid btn_btm_bdr
		border-right 1px solid btn_rig_bdr
		box-shadow(inset -1px -1px 5px 0px btn_shadow_prs)
		
button,
a[data-type="button"]
	font-weight bold
	color btn_reg_text_clr
	text-shadow 0 1px 0 btn_reg_text_shadow
	border solid 1px btn_reg_border
	border-radius(3px)
	box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.05)\,inset 0px 1px 0px 0px btn_reg_text_shadow)
	function-vendor(background-image,linear-gradient,top, btn_reg_bg_from, btn_reg_bg_to)
	background-image -webkit-gradient(linear, 0 0, 0 100%, from(btn_reg_bg_from), to(btn_reg_bg_to))
	background-repeat repeat-x
	filter  'progidDXImageTransform.Microsoft.Gradient(startColorstr=btn_reg_bg_from, endColorstr=btn_reg_bg_to, GradientType=0)'
	makeItMove(0.05s,all,linear)

	&:hover
		background btn_reg_bg_hover
		box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.2)\,inset 0px 1px 0px 0px btn_reg_shadow_hover)

	&:active
		outline 0
		box-shadow(0px 1px 1px 0px btn_reg_text_shadow\,inset 0 1px 3px 0px rgba(0, 0, 0, 0.2))
