@import 'reset'
@import 'position'
@import 'colors'
@import 'responsive'
@import 'helpers'
@import 'transitions'

/////////////////////////////////////////////////////////
//                            Base                       //
/////////////////////////////////////////////////////////
    
a
    color link_color


// That is a personnal choice.
*
    box-sizing      border-box
    -moz-box-sizing border-box

/////////////////////////////////////////////////////////
//                          Buttons                      //
/////////////////////////////////////////////////////////

button[data-button="push"]
    background-color btn_bg
    border-top 1px solid btn_top_bdr
    border-left 3px solid btn_lft_bdr
    border-bottom 5px solid btn_btm_bdr
    border-right 3px solid btn_rig_bdr
    border-radius 5px
    color btn_text_clr
    font-size 1.2em
    font-weight bold
    makeItMove(0.1s)

    &:hover
        background-color btn_bg_hover
        border-top 1px solid btn_top_bdr
        border-left 3px solid btn_lft_bdr
        border-bottom 5px solid btn_btm_bdr
        border-right 3px solid btn_rig_bdr

    &:active
        background-color btn_bg_hover
        border-top 5px solid btn_top_bdr_prs
        border-left 5px solid btn_lft_bdr_prs
        border-bottom 1px solid btn_btm_bdr
        border-right 1px solid btn_rig_bdr
        box-shadow(inset -1px -1px 5px 0px btn_shadow_prs)
        
button[data-button="modern"],
a[data-button="modern"]
    font-weight bold
    color btn_reg_text_clr
    text-shadow 0 1px 0 btn_reg_text_shadow
    border solid 1px btn_reg_border
    border-radius(3px)
    box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.05)\,inset 0px 1px 0px 0px btn_reg_text_shadow)
    function-vendor(background-image,linear-gradient,top, btn_reg_bg_from, btn_reg_bg_to)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(btn_reg_bg_from), to(btn_reg_bg_to))
    background-repeat repeat-x
    filter  'progidDXImageTransform.Microsoft.Gradient(startColorstr=btn_reg_bg_from, endColorstr=btn_reg_bg_to, GradientType=0)'
    makeItMove(0s,all,linear)

    &:hover
        background btn_reg_bg_hover
        box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.2)\,inset 0px 1px 0px 0px btn_reg_shadow_hover)

    &:active
        outline 0
        box-shadow(0px 1px 1px 0px btn_reg_text_shadow\,inset 0 1px 3px 0px rgba(0, 0, 0, 0.2))
    
    &:disabled
        background-image -webkit-gradient(linear, 0 0, 0 100%, from(btn_reg_bg_disabled), to(btn_reg_bg_disabled))
        box-shadow none
        color transparize(btn_reg_text_clr,0.6)
    
*[data-button="simple"],
button
    color background_color
    text-shadow none
    border solid 1px transparent
    border-radius(0px)
    box-shadow none
    background-color hardize(primary_color,15%)
    background-image none
    filter none 
    makeItMove(0.1s,all,linear)

    &:hover
        background primary_color
        box-shadow none

    &:active
        background softize(primary_color,10%)
        box-shadow none
    &:disabled
        background-image none
        background transparize(primary_color,0.2)
        box-shadow none
        color transparize(background_color,0.6)

*[data-button="simple-lite"]
    font-weight bold
    color primary_color
    text-shadow none
    border solid 1px transparent
    border-radius(0px)
    box-shadow none
    background-color background-color
    background-image none
    filter none 
    makeItMove(0.1s,all,linear)

    &:hover
        background background-color
        color hardize(primary_color,20%)
        box-shadow none

    &:active
        background background_color
        box-shadow none
    &:disabled
        background-image none
        background softize(background_color,20%)
        box-shadow none
        color transparize(background_color,0.6)


*[data-type$="inv"],
*[data-button$="inv"],
*[data-display$="inv"]
    background-color transparent
    border  1px solid transparent
    color transparize(secondary_color,0.5)
    makeItMove(0.1s,all,linear)
    position relative
    &::before
        makeItMove(0.1s,all,ease)
        min-height 10px
        min-width 10px
        position absolute
        content ''
        background-color transparize(secondary_color,0.0)
        border 1px solid transparent
        border-radius   50%
    &::before
        left -20%
        bottom (base_height/2px)
    
    &:hover
        border 1px solid  transparize(secondary_color,0.1)
        border-radius   2px
        color transparize(secondary_color,0.6)
        &::before
            left 10%
            background-color primary_color
            border 1px solid primary_color
        
    &:active
        border 1px solid transparent
        makeItMove(0.1s,all,linear)
        color transparent
        &::before
            makeItMove(0.1s,all,linear)
            left 80%
            background-color transparize(secondary_color,0.0)
            border 1px solid transparent
        

/////////////////////////////////////////////////////////
//                          Fields                       //
/////////////////////////////////////////////////////////

select,
textarea,
input
    outline: none;
    border-radius(2px)
    color btn_reg_text_clr
    border input_border_width solid btn_reg_border
    makeItMove(0.1s,all,linear)
    box-shadow(inset 0 1px 3px rgba(0, 0, 0, .05)\,0 1px 0 rgba(255, 255, 255, .075))

input:-webkit-autofill
    outline: none;
    border-radius(2px)
    background-color transparent !important
    color btn_reg_text_clr !important
    border input_border_width solid btn_reg_border
    makeItMove(0.1s,all,linear)
    box-shadow(inset 0 1px 3px rgba(0, 0, 0, .05)\,0 1px 0 rgba(255, 255, 255, .075))

select:focus,
textarea:focus,
input:focus,
select:focus:hover,
textarea:focus:hover,
input:focus:hover
    outline: none;
    border input_border_width solid primary_color

select:hover,
textarea:hover,
input:hover
    outline none
    border input_border_width solid transparize(primary_color,0.5)

progress,
*[data-type="progress"] 
    background: transparent
    border: input_border_width solid transparize(secondary_color,0.5)
    border-radius(2px)

progress[value='100'] span,
*[data-type="progress"] span
    background-color: progress_complete
    border-radius(2px)

progress[value^='9']:not([value^='9.']):not([value='9']) span,
*[data-type="progress"][value^='9']:not([value^='9.']):not([value='9']) span
    background-color: progress_high

progress[value^='8']:not([value^='8.']):not([value='8']) span,
*[data-type="progress"][value^='8']:not([value^='8.']):not([value='8']) span
    background-color: progress_high

progress[value^='7']:not([value^='7.']):not([value='7']) span,
*[data-type="progress"][value^='7']:not([value^='7.']):not([value='7'])  span
    background-color: progress_medium

progress[value^='6']:not([value^='6.']):not([value='6']) span,
*[data-type="progress"][value^='6']:not([value^='6.']):not([value='6'])  span
    background-color: progress_medium

progress[value^='5']:not([value^='5.']):not([value='5']) span,
*[data-type="progress"][value^='5']:not([value^='5.']):not([value='5']) span
    background-color: progress_medium

progress[value^='4']:not([value^='4.']):not([value='4']) span,
*[data-type="progress"][value^='4']:not([value^='4.']):not([value='4'])  span
    background-color: progress_medium

progress[value^='3']:not([value^='3.']):not([value='3']) span,
*[data-type="progress"][value^='3']:not([value^='3.']):not([value='3']) span
    background-color: progress_low

progress[value^='2']:not([value^='2.']):not([value='2']) span,
*[data-type="progress"][value^='2']:not([value^='2.']):not([value='2']) span
    background-color: progress_low

progress[value^='1']:not([value^='1.']):not([value='1']):not([value='100']) span,
*[data-type="progress"][value^='1']:not([value='1']):not([value='100']) span
    background-color: progress_low

/////////////////////////////////////////////////////////
//                        Forms                        //
/////////////////////////////////////////////////////////


form[data-type="smart-input"]
    
    old_p = primary_color
    
    &[data-style="white"]
        old_p = rgba(255,255,255,1) 
        input,
        textarea
            background-color transparize(old_p,0.0)
            color transparize(old_p,0.8);
            font-size 1.2rem
            border input_border_width dashed transparent
            border-bottom input_border_width dashed transparize(old_p,0.2)
            border-radius(0px)
            box-shadow(inset 0 1px 3px rgba(0,0,0,0)\,0 0 8px rgba(0,0,0,0))
        textarea::-webkit-input-placeholder,
        input::-webkit-input-placeholder
            color transparize(old_p,0.5)
        textarea::-ms-input-placeholder,
        input::-ms-input-placeholder
            color transparize(old_p,0.5)
        textarea:-moz-placeholder,
        input:-moz-placeholder
            color transparize(old_p,0.5)
        textarea::-moz-placeholder,
        input::-moz-placeholder
            color transparize(old_p,0.5)
        textarea:hover,
        input:hover
            border-bottom input_border_width dashed transparize(old_p,0.5)

        *[type="submit"]
            margin auto
            padding 0
            height 30px
        select:focus,
        textarea:focus,
        input:focus,
        select:focus:hover,
        textarea:focus:hover,
        input:focus:hover
            outline: none;
            border input_border_width dashed transparent
            background-color transparize(old_p,0.1)

    input,
    *[type="submit"],
    textarea
        background-color transparize(old_p,0.0)
        color transparize(old_p,0.8);
        font-size 1.2rem
        border input_border_width dashed transparent
        border-bottom input_border_width dashed transparize(old_p,0.2)
        border-radius(0px)
        box-shadow(inset 0 1px 3px rgba(0,0,0,0)\,0 0 8px rgba(0,0,0,0))
    textarea::-webkit-input-placeholder,
    input::-webkit-input-placeholder
        color transparize(old_p,0.5)
    textarea::-ms-input-placeholder,
    input::-ms-input-placeholder
        color transparize(old_p,0.5)
    textarea:-moz-placeholder,
    input:-moz-placeholder
        color transparize(old_p,0.5)
    textarea::-moz-placeholder,
    input::-moz-placeholder
        color transparize(old_p,0.5)
    textarea:hover,
    input:hover
        border-bottom input_border_width dashed transparize(old_p,0.5)

    *[type="submit"]
        padding 4px 0px
        background-color transparize(old_p,0.9)
        color monochrome(old_p)
        font-size 1.2rem
        height auto
        float none
        border input_border_width dashed transparent
        
    select:focus,
    textarea:focus,
    input:focus,
    select:focus:hover,
    textarea:focus:hover,
    input:focus:hover
        outline: none;
        border input_border_width dashed transparent
        background-color transparize(old_p,0.1)


/////////////////////////////////////////////////////////
//                      Articles                       //
/////////////////////////////////////////////////////////

section[role="article"]
    padding-bottom 30px
    border-bottom 2px solid primary_color

table[role="rows"]
    td
        padding 10px 20px
        margin-left 10px
    tr+tr
        border-top 1px solid transparize(primary_color,0.2)
    tr:first-of-type
        font-weight bold
    tr td i,
    tr td a > i
        margin-right 10px

*[data-font="thin"]
    font-weight 600

*[role="separator"]
    font-size 1em
    color transparize(secondary_color,0.3)
    text-align center

*[role="line"]
    min-height  10px
    padding-bottom 10px
    border-bottom   1px solid transparize(secondary_color,0.1)

/////////////////////////////////////////////////////////
//                      Headings                       //
/////////////////////////////////////////////////////////

header
    h1
        small
            color transparize(secondary_color,0.4)
    h2
        small
            color transparize(secondary_color,0.3)
    h3
        small
            color transparize(secondary_color,0.255555)

*[data-style="light"]
    color transparize(secondary_color,0.255555)
a[data-style="light"]:hover
    color transparize(secondary_color,0.355555)
    
*[data-style="light-less"]
    color transparize(secondary_color,0.455555)
a[data-style="light-less"]:hover
    color transparize(secondary_color,0.555555)

*[data-style="light-more"]
    color transparize(secondary_color,0.155555)
a[data-style="light-more"]:hover
    color transparize(secondary_color,0.255555)


