@import variables

*[data-role="notification"] > *[data-action="close"]
    display inline-block
    float right
    clear left
    vertical-align middle
    margin 10px 20px
    font-weight bolder

*[data-role="notification"] > a
    color rgba(0,0,0,0.3)

*[data-role="notification"] > p
    display inline-block
    margin 10px 20px
    font-weight bolder

.moon-success
    background-color #CBD64C
    color #798029

.moon-errors
    color rgb(165,56,22)
    background-color #DDA783

/** ----------- Shame.styl -------------- */

/** ------------ Selects ---------------- */
.minict_wrapper
    width base_width + 4*(input_margin_top)
    padding input_padding_top input_padding_right
    margin input_margin_top input_margin_right
    
    &:after
        line-height 2.8rem




