

*[data-role="notification"] > *[data-action="close"]
    display inline-block
    float right
    clear left
    vertical-align middle
    margin 10px 20px
    font-weight bolder

*[data-role="notification"] > a
    color rgba(0,0,0,0.3)

*[data-role="notification"] > p
    display inline-block
    margin 10px 20px
    font-weight bolder

.moon-success
    background-color #CBD64C
    color #798029

.moon-errors
    color rgba(165,56,22,0.6)
    background-color rgba(255,133,0,0.28)


