@import 'variables'


/////////////////////////////////////////////////////////
//                         Base                        //
/////////////////////////////////////////////////////////

a
    text-decoration initial

ul
    padding 0px
    margin 0px

p
    margin 5px auto

h1,
h2,
h3,
h4
    margin 10px auto

li
    list-style none
        
h1
    font-size 2em
h2
    font-size 1.5em
h3
    font-size 1.2em
h4
    font-size 1em
h5
    font-size 0.8em
h6
    font-size 0.5em

*[data-display="block"]
    display block

*[data-display="iblock"]
    display inline-block

body
    centeredPad()

    > header
        font-size 2em
        + nav
            > ul
                display block
                > li
                    display inline-block
                    min-width (main-width / 10)
                    height top-nav-height
                    vertical-align middle
                    line-height top-nav-height
                    text-align center
                    margin (main-width / 100)
                    list-style none
        > h1
            font-size 3em

    header
        margin (elt-margin/2) 0
        padding (elt-margin/2) 0px

*[data-role="container"]
    display -webkit-flex
    display -moz-flex
    display flex
    vendor(flex-flow,row wrap)
    //vendor(box-pack, center)

    nav[data-display="column"],
    aside[data-display="column"]
        vendor(flex-direction,column)
        display -webkit-flex
        display -moz-flex
        display flex
        margin 10px 30px
        *[data-align="center"]            
            display: -webkit-box;
            -webkit-box-pack: center; 
        + *
            margin-right 240px

    > section
        vendor(flex,1 0 300px)
        > article
            vendor(flex,1 100%)

article
    h1
        font-size 1.5em
    h2
        font-size 1.2em
    h3
        font-size 1em
    h4
        font-size 0.9em
    h5
        font-size 0.8em
    h6
        font-size 0.7em


/////////////////////////////////////////////////////////
//                    Sections(s)                    //
/////////////////////////////////////////////////////////

body > section[data-display="monobox"]
    display block
    text-align center
    width 50%
    margin auto
    margin-top 6*elt-margin
    padding 20px


/////////////////////////////////////////////////////////
//                   Global display(s)                 //
/////////////////////////////////////////////////////////

*[data-width]
    display inline-block
    vertical-align: top

*[data-width="full"]
    width 97%
    padding-left 0
    padding-right 0
    margin-left 1%
    margin-right 1%

*[data-width="half"]
    width 47%
    padding-left 0
    padding-right 0
    margin-left 1%
    margin-right 1%

*[data-width="tiers"]
    width 30%
    padding-left 0
    padding-right 0
    margin-left 1%
    margin-right 1%

*[data-width="two-tiers"]
    width 63%
    padding-left 0
    padding-right 0
    margin-left 1%
    margin-right 1%

*[data-width="quarter"]
    width 22%
    padding-left 0
    padding-right 0
    margin-left 1%
    margin-right 1%

*[data-width="three-quarter"]
    width 72%
    padding-left 0
    padding-right 0
    margin-left 1%
    margin-right 1%

/////////////////////////////////////////////////////////
//                          Buttons                    //
/////////////////////////////////////////////////////////

button[data-button="push"]
    padding 12px 6px
    font-size 1em
    line-height 0

button[data-width="input"]
    width base_width
    height base_height
    padding input_padding_top input_padding_right
    margin input_margin_top input_margin_right

*[data-button="simple"],
*[data-button="simple-inv"]
    font-weight bold
    padding 6px 30px
    margin 4px
    text-align center
    font-size 1em
    min-height base_height


button,
a[data-type="button"],
a[data-type="clear-button"]
    height 24px
    line-height 24px
    font-size 11px
    padding 0 7px 0 7px
    margin 4px
    text-align center
    //float left
    cursor pointer
    text-decoration none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    *zoom 1
    *margin-left .3em

    &:before,
    &:after 
        display tablecontent ""
    &:after 
        clear both
    &:first-child 
        *margin-left 0

    &[data-size="small"]
        height 18px
        line-height 18px
        font-size 9px

    &[data-size="big"]
        height 32px
        line-height 32px
        font-size 16px
    
    &[data-size="huge"]
        height 48px
        line-height 48px
        font-size 22px


/////////////////////////////////////////////////////////
//                      Fields                       //
/////////////////////////////////////////////////////////

form
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"]
        width base_width
        height base_height
        padding input_padding_top input_padding_right
        margin input_margin_top input_margin_right
    select
        height select_height
        min-width select_width

    margin-bottom 10px
            
form
    label ~ input,
    label ~ select 
        float right
        clear right
        display block
    label > input,
    label > select
        margin-left input_margin_right*4
    label
        float left
        clear both
        display block
        vertical-align middle
        line-height base_height + 2*input_border_width
        padding input_padding_top input_padding_right
        margin input_margin_top 6*input_margin_right input_margin_top input_margin_right
        height base_height + 2*input_border_width


form[data-align="horizontal"]
    input,
    button,
    textarea,
    select
        display inline-block
    label
        margin-left 10px
    *[type="submit"]
        clear both
        float right
        
form[data-align="vertical"]
    input,
    textarea,
    select,
    label
        display block
    input + label,
    select + label
        margin-top 10px
    *[type="submit"]
        clear both
        float right

form[data-align="mixed"]
    label ~ input,
    label ~ select,
    label ~ textarea,
    button[type="submit"],
    input[type="submit"]
        float right
        clear right
        display block
    label ~ input[type="date"]
        display -webkit-inline-box
    label > input,
    label > select
        margin-left input_margin_right*4
    label
        float left
        clear both
        display block
        vertical-align middle
        line-height base_height + 2*input_border_width
        padding input_padding_top input_padding_right
        margin input_margin_top 6*input_margin_right input_margin_top input_margin_right
        height base_height + 2*input_border_width

form[data-align="labelled"]
    label ~ input,
    label ~ textarea,
    label ~ select 
        clear right
        display block
    label > input,
    label > textarea,
    label > select
        margin-left input_margin_right*4
    label
        float left
        clear both
        display block
        vertical-align middle
        line-height base_height + 2*input_border_width
        padding input_padding_top input_padding_right
        margin input_margin_top input_margin_right
        height base_height + 2*input_border_width
        min-width 2*base_width
    input + select,
    select + input,
    label + textarea,
    select + select,
    input + input
        clear right
        display block
        float right
    min-width 2*base_width        


progress,
*[data-type="progress"] 
    display: inline-block
            -moz-box-sizing: border-box
            box-sizing: border-box
    width: 100%
    height: 20px
    padding: 0px


progress[value='100'] span,
*[data-type="progress"] span
    display: inline-block
    width: 100%
    height: 20px

progress[value^='9']:not([value^='9.']):not([value='9']) span,
*[data-type="progress"][value^='9']:not([value^='9.']):not([value='9']) span
    width: 95%

progress[value^='8']:not([value^='8.']):not([value='8']) span,
*[data-type="progress"][value^='8']:not([value^='8.']):not([value='8']) span
    width: 85%

progress[value^='7']:not([value^='7.']):not([value='7']) span,
*[data-type="progress"][value^='7':not([value^='7.']):not([value='7']) span
    width: 75%

progress[value^='6']:not([value^='6.']):not([value='6']) span,
*[data-type="progress"][value^='6']:not([value^='6.']):not([value='6']) span
    width: 65%

progress[value^='5']:not([value^='5.']):not([value='5']) span,
*[data-type="progress"][value^='5']:not([value^='5.']):not([value='5']) span
    width: 55%

progress[value^='4']:not([value^='4.']):not([value='4']) span,
*[data-type="progress"][value^='4']:not([value^='4.']):not([value='4']) span
    width: 45%

progress[value^='3']:not([value^='3.']):not([value='3']) span,
*[data-type="progress"][value^='3']:not([value^='3.']):not([value='3']) span
    width: 35%

progress[value^='2']:not([value^='2.']):not([value='2']) span,
*[data-type="progress"][value^='2']:not([value^='2.']):not([value='2']) span
    width: 25%

progress[value^='1']:not([value^='1.']):not([value='1']):not([value='100']) span,
*[data-type="progress"][value^='1']:not([value='1']):not([value='100']) span
    width: 15%

/////////////////////////////////////////////////////////
//                       Figures                       //
/////////////////////////////////////////////////////////

figure 
    
    display inline-block
    > img,
    > a > img
        padding 10px
        vendor('border-radius',2px)
        margin 0px
        border 1px solid rgba(0,0,0,0.1)

figure[data-size="small"] 
    > img,
    > a > img
        padding 5px
        max-height 45px
        width auto
    
figure[data-size="medium"] 
    > img,
    > a > img
        padding 10px
        max-height 100px
        width auto

/////////////////////////////////////////////////////////
//                     Navigation                      //
/////////////////////////////////////////////////////////

nav
    padding-bottom 15px
