
/////////////////////////////////////////////////////////
//      	The responsive triggers definition         //
/////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////
//			         Mobile devices                    //
/////////////////////////////////////////////////////////
@media all and (max-width: 640px)

	body
		> header
		
			+ nav
				> ul
					> li
						display block
						height auto
						vertical-align middle
						line-height auto
						text-align center
						margin auto

		> section
			> article
				> aside:only-of-type
					float none
					display block
					width 100%
					margin 0px
				margin 0px
				
			> article[data-aside="true"]
				margin 0px

		> footer
			display block