@import 'functions'
/////////////////////////////////////////////////////////
//               The variables stylus file               //
/////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////
//                 Base units parameters                 //
/////////////////////////////////////////////////////////

main-width               = 100%
main-pad                 = (100% - main-width) /2
elt-margin               = 10px
top-nav-height           = 50px


/////////////////////////////////////////////////////////
//                   Buttons parameters                  //
/////////////////////////////////////////////////////////

button_width             = 80px
button_height            = 40px


//\\//\\//\\//\\//\\     COLORS     //\\//\\//\\//\\//\\

primary_color            = #79b2e2 //lightBlue
secondary_color          = #333 
background_color         = #FFF    //white



//\\//\\//\\//\\//\\    MEASURES    //\\//\\//\\//\\//\\

base_height              = 20px
base_width               = 188px

input_margin_top         = 4px
input_margin_right       = 4px
input_padding_top        = 4px
input_padding_right      = 6px
input_border_width       = 1px

mixed_form_max_width     = 50%







select_height = base_height + (2*input_padding_top) + (2*input_border_width)
select_width = base_width + (2*input_padding_right) + (2*input_border_width)
