{% include 'header.twig' %}


		<header>
			<h1>
				Hi !
			</h1>
		</header>
		<nav>
			{% block nav %}
			<ul>
				<li>
					<a href="#">Un premier lien</a>
				</li>
				<li>
					<a href="#">Un deuxieme lien</a>
				</li>
				<li>
					<a href="#">Un troisieme lien</a>
				</li>
				<li>et un dernier qui n'est pas un lien
				</li>
			</ul>
			{% endblock %}
		</nav>
		
		
		{% block main_container %}
		{% endblock %}

{% include 'footer.twig' %}
