{# The header include. Contain all the <head> section #}



{% if not webdata.ajax %}
{% include 'header.twig' %}

			{% block notifications %}
				{% if errors %}
					<div class="moon-errors" data-role="notification">
					        <p>{{ errors }}</p>
						<a href="#" data-action="close">x</a>
					</div>
				{% endif %}
				{% if success %}
					<div class="moon-success" data-role="notification">
					        <p>{{ success }}</p>
						<a href="#" data-action="close">x</a>
					</div>
				{% endif %}

			{% endblock %}
            {% block filters %}


            {% endblock %}

        <section data-role="container" data-mix>
			{% block base %}

		<header>
			<h1>
				Hi !
			</h1>
		</header>
		<nav>
			{% block nav %}
			<ul>
				<li>
					<a href="#">Un premier lien</a>
				</li>
				<li>
					<a href="#">Un deuxieme lien</a>
				</li>
				<li>
					<a href="#">Un troisieme lien</a>
				</li>
				<li>et un dernier qui n'est pas un lien
				</li>
			</ul>
			{% endblock %}
		</nav>
		
		{% block main_container %}
		{% endblock %}

        {% endblock %}
        </section>

{% include 'footer.twig' %}
{% else %}
	{% block content %}
    {% endblock %}

{% endif %}
