	{% block footer %}

		<footer role="footer">

			<p>&copy; <b>lambdaweb</b> - 2013 </p>


		</footer>

	{% endblock %}

	{% block javascript %}

		{% for js in webdata.scripts %}
			<script src="{{ webdata.base }}{{ js }}"></script>
		{% endfor %}

	{% endblock %}

	{% block debug %}
		{# Shows the debug lines #}
		{{ webdata.debug }}
	{% endblock %}

    {% block userScripts %}

    {% endblock %}

    {% if reload_url %}
    <script>
    $(document).ready(function()
    {
	if(window.location.hash.search("#{{ baseurl }}") == 0)
	{
	    var toGo = window.location.hash.replace("#","");
	    JsMoon.load.ajaxInner( $("section[data-role='content']"), toGo);
	}
    });
    </script>

    {% endif %}
	</body>
</html>
