	{% block footer %}

		<footer>

			<p>&copy; <b>lambdaweb</b> - 2013 </p>


		</footer>

	{% endblock %}

	{% block javascript %}

		{% for js in webdata.scripts %}
			<script src="{{ webdata.base }}{{ js }}"></script>
		{% endfor %}

	{% endblock %}

	{% block debug %}
		{# Shows the debug lines #}
		{{ webdata.debug }}
	{% endblock %}

    {% block userScripts %}

    {% endblock %}
	</body>
</html>
