@import 'position'
@import 'colors'
@import 'responsive'


/////////////////////////////////////////////////////////
//			                Base                       //
/////////////////////////////////////////////////////////
	
a
	color link_color

body
	background-color background_color


/////////////////////////////////////////////////////////
//			              Buttons                      //
/////////////////////////////////////////////////////////

button[data-button="push"]
	background-color btn_bg
	border-top 1px solid btn_top_bdr
	border-left 3px solid btn_lft_bdr
	border-bottom 5px solid btn_btm_bdr
	border-right 3px solid btn_rig_bdr
	border-radius 5px
	color btn_text_clr
	font-size 1.2em
	font-weight bold
	makeItMove(0.1s)

	&:hover
		background-color btn_bg_hover
		border-top 1px solid btn_top_bdr
		border-left 3px solid btn_lft_bdr
		border-bottom 5px solid btn_btm_bdr
		border-right 3px solid btn_rig_bdr

	&:active
		background-color btn_bg_hover
		border-top 5px solid btn_top_bdr_prs
		border-left 5px solid btn_lft_bdr_prs
		border-bottom 1px solid btn_btm_bdr
		border-right 1px solid btn_rig_bdr
		box-shadow(inset -1px -1px 5px 0px btn_shadow_prs)
		
button,
button:hover,
button:focus,
button:visited,
button:active
	background-color btn_bg
	border 1px solid btn_top_bdr
	border-radius 3px
	color btn_text_clr
	font-size 1.2em
	font-weight bold
	makeItMove(0.1s)

	&:hover
		background-color btn_bg_hover
		color btn_text_clr_hover
		border 1px solid btn_rig_bdr

	&:active
		color btn_text_clr_prs
		border 1px solid btn_text_clr
		background-color btn_bg_prs
		
