/////////////////////////////////////////////////////////
//				The colors stylus file                 //
/////////////////////////////////////////////////////////

primary_color = #79b2e2 // lightBlue
secondary_color = #333 
background_color = #FFF // white

h1_color = saturate(primary_color,50%)

link_color = darken(saturate(primary_color,10%),20%)