
/////////////////////////////////////////////////////////
//				 Base units parameters                 //
/////////////////////////////////////////////////////////

main-width = 80%
main-pad = (100% - main-width) /2
elt-margin = 10px
top-nav-height = 50px


/////////////////////////////////////////////////////////
//				   Buttons parameters                  //
/////////////////////////////////////////////////////////

button_width = 80px
button_height = 40px



//////////////// -- Stop editing now -- /////////////////


/////////////////////////////////////////////////////////
//			             Functions                     //
/////////////////////////////////////////////////////////

centeredPad(wid = main-width, pad = main-pad)
	width: wid
	padding 0 pad


/////////////////////////////////////////////////////////
//			                Base                       //
/////////////////////////////////////////////////////////

a
	text-decoration initial

body
	centeredPad()

	> header
		+ nav
			> ul
				display block
				> li
					display inline-block
					min-width (main-width / 10)
					height top-nav-height
					vertical-align middle
					line-height top-nav-height
					text-align center
					margin (main-width / 100)

					

	header
		margin (elt-margin/2) 0
		padding (elt-margin/2) (elt-margin)
		
	> section
		> article
			> aside:only-of-type
				float: left;
				width: 20%;
				margin-left: -25%;
				font-size: 12px;
				line-height: 1.8;
			margin: 0 0 20px 0px;
			
		> article[data-aside="true"]
			margin: 0 0 20px 20%;

	> footer
		display block
		

/////////////////////////////////////////////////////////
//			              Buttons                      //
/////////////////////////////////////////////////////////


// reset all the default browser parameters
button
	padding 3px 5px
	margin 0
	border none
	min-width button_width
	min-height button_height

	

