@import 'moon/base'


body 
    font-family 'Oxygen', sans-serif 
    color rgba(0, 0, 0, 0.6)

    .login-mono-box
        margin-top 200px
        h1 
            font-size 4em



form
    select
        background-color #FFF

footer[role="footer"]
    position fixed
    bottom 0px
    left 0px
    right 0px
    height 30px
    color #427FA2
    text-align center


nav[data-role="toolbar"]

    padding 5px auto
    vertical-align sub
    ul
        display -webkit-flex
        display -moz-flex
        display flex
        vendor(justify-content,flex-start)
        vendor(align-items,stretch)
        vendor(flex-flow,row wrap)
        li
            color primary_color
            text-align center
            padding 5px
