@import 'moon/base'


body 
    font-family 'Oxygen', sans-serif 
    color rgba(0, 0, 0, 0.6)

    .login-mono-box
        margin-top 200px
        h1 
            font-size 4em



form
    select
        background-color #FFF
